@tailwind base;
@tailwind components;
@tailwind utilities;




.hero-img {
  background-image: linear-gradient(#0000009a, #000000ea), url('./assets/img/background_image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  
}
body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: black;
  background-color: #ffffff;
}